<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission to Request Installs -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomInstaller"
        tools:targetApi="31">

        <!-- shown to user -->
        <activity
            android:name=".InstallerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- allows installer to give apk files to package installer -->

        <!-- File provider for APK install -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

    <queries>
        <!-- Needed for PackageManager -->
        <package android:name="de.cispa.testapp" />
        <package android:name="org.hytrack.app.track.crossapptrackerone.instrumented" />
        <package android:name="org.hytrack.app.track.crossapptrackerone.policy" />

        <!-- Byetrack provider access -->
        <package android:name="de.cispa.byetrack" />
        <package android:name="org.mozilla.fenix.debug" />
        <package android:name="org.mozilla.geckoview_example" />
    </queries>

</manifest>